.bash_logout
.bashrc
.bundle/
.cache/
.cargo/
.config/
.cpanm/
.local/
.npm/
.perl-cpm/
.profile
.rustup/
.ssh/
.viminfo
.vscode-server/
.oh-my-zsh/
.bash_history
.zsh_history
.lesshst
.gitconfig
env.sh
local/ruby/
local/node/
local/perl/
local/php/
local/python/
local/ruby/
webapp/nodejs/
webapp/perl/
webapp/php/
webapp/python/
webapp/ruby/
webapp/rust/
.mysql_history
